html, body{
    padding: 0; /*tirou o espaço que ficou antes do cabeçalho*/
    margin: 0;
    text-decoration: none; /*tira o estilo da letra*/
    list-style: none; 
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Verdana; 
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: grey; 
    height: 72px; /*vai se posicionar a direita*/
} 

.cabecalhoPrincipal-titulo{ 
    margin-left: 30px;
    color: black;
    font-size: 40px; /*tamanho da fonte*/
    font-weight: bold; 
}

nav ul{         /*referenciando a lista dentro da tag nav*/
    float: right;
    margin-right: 20px;
}

nav ul li a{  /*O a é referente ao href*/ 
    color: rgb(82, 10, 82); 
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px; 
    text-transform: uppercase; /*vai tirar o clicavel do elemento*/  
    text-decoration: none;
}

nav ul li a:hover{  /*quando o usario passar o mouse em cima do menu criará um efeito*/
    background: plum;
    transition: 0.5s;
}

nav ul li a:active{
    background: plum;
}

nav ul li{ 
    display: inline-block;
    line-height: 80px; /*define a altura da linha*/
    margin: 0 5px;
}

main{
    display: flex;
    justify-content: center;
    height: auto;
    flex-direction: column;
    background: lightgray;
}

h2{
    font-family: 'Trebuchet MS';
    font-size: 25px;
    padding: 20px 70px;
    margin: 10px;
    color: rgb(37, 63, 63);
}

.conteudoPrincipalFilmes{
    display: flex;
    flex-wrap: wrap; /*vai quebrar para a linha de baixo quando acabar o espaço*/
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.item-Filmes{
  height: 250px;  /*largura do filme*/
  margin-bottom: 1%;  
  margin-right: 10px;
  border-radius: 5px;   
}

footer{
    padding: 25px;
    background: rebeccapurple;
    text-align: center;
    
}

.imagem-rodape{
    height: 30px;
    width: 30px;
}